header {
    display: flex;
    align-items: center;
    justify-content: center;
}
.tlt {
    display: flex;
    justify-content: center;
    align-items: center;
}
h1 {
    text-align: center;
    color: mediumslateblue; 
}