header{
   display: flex;
   justify-content: space-between;
   align-items: center; 
   
}
.title {

}

.git {
    background-color: orange;
    color: white;
    padding: 0.4rem 0.2rem;

    border-radius: 8px;
}


.btn_github{
    text-decoration: none;
    background-color: rgb(19, 19, 67);
    color: white;
    font-weight: 600;
    padding: 0.5rem 2rem;
    border-radius: 3px;
}